html {
  box-sizing: border-box;
  min-height: 100%;
  scroll-snap-type: y mandatory;
}
body {
  font-family: 'Comfortaa', cursive;
  min-height: 100%;
}
.header {
  text-align: center;
  background-color: #d5bfbf;
  padding: 0.5rem;
}
.header h1 {
  font-size: 4rem;
}
.navegar {
  background-color: #316b83;
}
.navegacion {
  text-align: center;
  display: block;
  padding: 0rem;
}
.navegacion a {
  color: #ffff;
  text-decoration: none;
  border-right: 2px solid white;
  padding-right: 2rem;
  padding-left: 2rem;
  text-align: center;
}
.navegacion .cont-a {
  border-right: none;
}
.navegacion a:hover {
  text-decoration: none;
  color: yellowgreen;
}
* {
  box-sizing: border-box;
}
main {
  background-color: #f3f1f5;
}

.centro {
  text-align: center;
}

/* Center align the text within the three columns below the carousel */

.principal {
  margin-bottom: 1.5rem;
  text-align: center;
  color: #512d6d;
}

.contenedor .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
  background-color: 316b83;
  color: #512d6d;
}
.contenedor h2 {
  font-weight: 600;
  color: #32e0c4;
  text-shadow: 2px 2px 2px #303960;
}
/* rtl:begin:ignore */
.contenedor .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.contenedor .btn-secondary {
  color: #d5bfbf;
}

.contenedor.imagen-redonda {
  width: 150px;
  height: 150px;
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.formulario {
  background-color: var(--gris);
  padding: 2rem;
  border-radius: 10px;
}

.formulario legend {
  text-align: center;
  font-size: 1.2rem;
  color: var(--primario);
  margin-bottom: 2rem;
  display: block;
  text-transform: uppercase;
  font-weight: 700;
}

.contenedor campos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.campo {
  margin-bottom: 1rem;
  width: 100%;
}

.w-100 {
  flex: 0 0 100%;
}

.campo label {
  color: var(--blanco);
  font-weight: 700;
  margin-bottom: 0.5rem;
  display: block;
}
.campo input[type='text'],
.campo input[type='tel'],
.campo input[type='email'],
.campo textarea {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
}
.campo textarea {
  height: 4rem;
}

.enviar {
  display: flex;
  justify-content: flex-end;
}
